{% extends 'dashboard.html' %}

{% block content %}
{% load static %}
<!-- blog upload Model-->
<div class="container">
    <form method="POST">{% csrf_token %}
        <div class="modal-body">
            <div class="form-group">
                <label for="inputTitle4">Title</label>
                {{form.title}}
            </div>
            <div class="form-group">
                <label for="inputWorkDescription">Description</label>
                {{form.description}}
            </div>
            <div class="form-group">
                <label for="exampleFormblog_img">Upload Image</label>
                {{form.blog_img}}
            </div>



        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">send</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </form>

</div>
<!--end of send mom-->
{% endblock %}