{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>monitor_Sheet Report</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        .heading {
            width: 100%;
            height: 50px;
            background: #5A5C69;
            border-radius: 10px;
            margin: 20px 0;
        }

        .heading p {
            padding: 10px;
            font-size: 17px;
            color: #fff;
        }
    </style>
</head>

<body>
    <h1>Monitor Report</h1>
    <div class="container-fluid container">
        <div class="heading">
            <p class="font-weight-bold">Monitor sheet</p>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputComp">Name of Company</label>
                <input disabled value="{{monitor_report.company_name}}" type="text" class="form-control"
                    name="company_name" id="inputComp" placeholder="company name">
            </div>
            <div class="form-group col-md-6">
                <label for="inputentrepreneur">Name of Lead Entrepreneur</label>
                <input disabled value="{{monitor_report.lead_entreprenure}}" type="text" class="form-control"
                    name="lead_entreprenure" id="inputentrepreneur" placeholder="lead entrepreneur">
            </div>
            <div class="form-group col-md-6">
                <label for="inputDesignation">Designation</label>
                <input disabled value="{{monitor_report.designation}}" type="text" class="form-control"
                    name="designation" id="inputDesignation" placeholder="designation">
            </div>
            <div class="form-group col-md-6">
                <label for="inputurl">Website address</label>
                <input disabled value="{{monitor_report.website}}" type="text" class="form-control" name="website"
                    id="inputurl" placeholder="web address">
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail4">Email</label>
                <input disabled value="{{monitor_report.email}}" type="email" class="form-control" name="email"
                    id="inputEmail4" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
                <label for="inputphoneno">Phone nos.</label>
                <input type="text" disabled value="{{monitor_report.contact_no}}" class="form-control" name="contact_no"
                    id="inputphoneno" placeholder="contact no">
            </div>

            <div class="form-group col-md-12">
                <label for="inputAddress">Address(Write both if registered and communication addresses are
                    different)</label>
                <textarea class="form-control" disabled value="{{monitor_report.address}}" name="address"
                    id="inputAddress" rows="3" placeholder="1234 Main St"></textarea>
            </div>
            <div class="form-group col-md-6">
                <label for="inputprod">Product / Service offering</label>
                <input type="text" disabled value="{{monitor_report.product_service}}" class="form-control"
                    name="product_service" id="inputprod" placeholder="Product / Service offering">
            </div>
            <div class="form-group col-md-6">
                <label for="inputIndustry">Industry</label>
                <input type="text" disabled value="{{monitor_report.industry}}" class="form-control" name="industry"
                    id="inputIndustry" placeholder="industry">
            </div>
            <div class="form-group col-md-6">
                <label for="inputCompetitors">Competitors</label>
                <input type="text" disabled value="{{monitor_report.competitors}}" class="form-control"
                    name="competitors" id="inputCompetitors" placeholder="Competitors">
            </div>
            <div class="form-group col-md-6">
                <label for="inputIncubationPeriod">Incubation Period (no. of months, starting date)</label>
                <input type="text" disabled value="{{monitor_report.incubation_period}}" class="form-control"
                    name="incubation_period" id="inputIncubationPeriod" placeholder="Incubation Period">
            </div>
            <div class="form-group col-md-6">
                <label for="inputChiefMentor">Chief Mentor</label>
                <input type="text" disabled value="{{monitor_report.chef_monitor}}" class="form-control"
                    name="chef_monitor" id="inputChiefMentor" placeholder="Chief Mentor">
            </div>
            <div class="form-group col-md-6">
                <label for="inputShareHolderPattern">Share-holding pattern</label>
                <input type="text" disabled value="{{monitor_report.share_holder_pattern}}" class="form-control"
                    name="share_holder_pattern" id="inputShareHolderPattern" placeholder="Share-holding pattern">
            </div>
            <div class="form-group col-md-6">
                <label for="inputAuthorisedCapitalAmount">Authorised capital amount</label>
                <input type="text" disabled value="{{monitor_report.authorized_capital_amount}}" class="form-control"
                    name="authorized_capital_amount" id="inputAuthorisedCapitalAmount"
                    placeholder="Authorised capital amount">
            </div>
            <div class="form-group col-md-6">
                <label for="inputCapitalAmount">Paid-up capital amount</label>
                <input type="text" disabled value="{{monitor_report.paid_up_capital_amount}}" class="form-control"
                    name="paid_up_capital_amount" id="inputCapitalAmount" placeholder="Paid-up capital amount">
            </div>
            <div class="form-group col-md-6">
                <label for="inputFillingDate">Date of filling this information</label>
                <input type="text" disabled value="{{monitor_report.date_of_filling}}" class="form-control"
                    name="date_of_filling" id="inputFillingDate">
            </div>


            <div class="heading">
                <p class="font-weight-bold">General INFO</p>
            </div>

            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="inputMOU">MoU with AIC Nalanda signed</label>
                    <input type="text" disabled value="{{monitor_report.mou}}" class="form-control" name="inputMOU"
                        id="inputMOU">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputMouDate">Date</label>
                    <input type="text" disabled value="{{monitor_report.mou_date}}" class="form-control" name="mou_date"
                        id="inputMouDate">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputIncubationFees">Incubation Fees paid Rs. (from date to date)</label>
                    <input type="text" disabled value="{{monitor_report.incubation_fees}}" class="form-control"
                        name="incubation_fees" id="inputIncubationFees" placeholder="Incubation Fees paid">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputChiefMentorAssign">Chief Mentor assigned</label>
                    <input type="text" disabled value="{{monitor_report.chef_monitor_assign}}" class="form-control"
                        name="chef_monitor_assign" id="inputChiefMentorAssign" placeholder="Chief Mentor assigned">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputSSHA">SSHA Signed</label>
                    <input type="text" disabled value="{{monitor_report.ssha_signed}}" class="form-control"
                        id="inputSSHA" name="ssha_signed">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputSSHADate">Date</label>
                    <input type="text" disabled value="{{monitor_report.ssha_date}}" class="form-control"
                        name="ssha_date" id="inputSSHADate">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputSharesTransferred">Shares transferred to Incubator</label>
                    <input type="text" disabled value="{{monitor_report.share_transferred}}" class="form-control"
                        id="inputSharesTransferred" name="share_transferred">

                </div>
                <div class="form-group col-md-6">
                    <label for="inputShareCertificate">Share certificates received by Incubator</label>
                    <input type="text" disabled value="{{monitor_report.share_certificates}}" class="form-control"
                        id="ShareCertificate" name="share_certificates">

                </div>
                <div class="form-group col-md-6">
                    <label for="inputNoSeats">No. of seats taken at the Incubator (Current month)</label>
                    <input type="text" disabled value="{{monitor_report.no_of_seats_taken}}" class="form-control"
                        name="no_of_seats_taken" id="inputNoSeats" placeholder="No. of seats taken at the Incubator">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputRentForSeats">Rent for seats paid Rs. (from date to date) if any</label>
                    <input type="text" disabled value="{{monitor_report.rent_of_seats}}" class="form-control"
                        name="rent_of_seats" id="inputRentForSeats" placeholder="Rent for seats paid">
                </div>

                <div class="form-group col-md-6">
                    <label for="inputCapitalInvested">Capital invested so far</label>
                    <input type="text" disabled value="{{monitor_report.capital_invested}}" class="form-control"
                        name="capital_invested" id="inputCapitalInvested" placeholder="Capital invested">
                </div>

                <div class="form-group col-md-6">
                    <label for="inputRegistrationCompany">Status of Registration of the Company</label>
                    <input type="text" disabled value="{{monitor_report.status_of_registration}}" class="form-control"
                        id="inputRegistrationCompany" name="status_of_registration">

                </div>

                <div class="form-group col-md-6">
                    <label for="inputStatusOfCurrentTraction">Status of Current traction at the time of joining
                        Incubation</label>
                    <input type="text" disabled value="{{monitor_report.current_traction}}" class="form-control"
                        name="current_traction" id="inputStatusOfCurrentTraction"
                        placeholder="Status of Current traction at the time of joining Incubation">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputStatusOfProduct">Status of Product / Service at the time of joining
                        Incubation</label>
                    <input type="text" disabled value="{{monitor_report.status_of_product_service}}"
                        class="form-control" name="status_of_product_service" id="inputStatusOfProduct"
                        placeholder="Status of Product / Service at the time of joining Incubation">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputStatusOfOperations">Status of operations</label>
                    <input type="text" disabled value="{{monitor_report.status_of_operations}}" class="form-control"
                        name="status_of_operations" id="inputStatusOfOperations" placeholder="Status of operations">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputCurrentTeam">Current team members and roles</label>
                    <input type="text" disabled value="{{monitor_report.current_team_member}}" class="form-control"
                        name="current_team_member" id="inputCurrentTeam" placeholder="Current team members and roles">
                </div>
            </div>


            <div class="heading">
                <p class="font-weight-bold">Specific
                    Information month by month</p>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputIPRStatus">IPR Status</label>
                    <input type="text" disabled value="{{monitor_report.ipr_status}}" class="form-control"
                        name="ipr_status" id="inputIPRStatus" placeholder="IPR Status">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputSales">Sales (units)</label>
                    <input type="text" disabled value="{{monitor_report.sales}}" class="form-control" name="sales"
                        id="inputSales" placeholder="Sales (units) ">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputRevenue">Revenue (Rs. ) </label>
                    <input type="text" disabled value="{{monitor_report.revenue}}" class="form-control" name="revenue"
                        id="inputRevenue" placeholder="Revenue (Rs. ) ">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPipeline">Pipeline Deals / Other potential clients</label>
                    <input type="text" disabled value="{{monitor_report.pipeline}}" class="form-control" name="pipeline"
                        id="inputPipeline" placeholder="Pipeline Deals / Other potential clients">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputCurrentClients">Current clients</label>
                    <input type="text" disabled value="{{monitor_report.current_client}}" class="form-control"
                        name="current_client" id="inputCurrentClients" placeholder="Current clients">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputProfitLoss">Profit earned / Loss</label>
                    <input type="text" disabled value="{{monitor_report.profit_earned}}" class="form-control"
                        name="profit_earned" id="inputProfitLoss" placeholder="Profit earned / Loss">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputNewTeamMember">New Team members (Hiring, consultants, interns, contractual
                        employees,
                        if any)</label>
                    <input type="text" disabled value="{{monitor_report.new_team_member}}" class="form-control"
                        name="new_team_member" id="inputNewTeamMember" placeholder="New Team members">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputNoOfEmployees">No. of employees (Including part time, consultants, etc)</label>
                    <input type="text" disabled value="{{monitor_report.no_of_employees}}" class="form-control"
                        name="no_of_employees" id="inputNoOfEmployees" placeholder="No. of employees">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputProblemsFaced">Problems faced (Describe any opportunity you may have
                        missed)</label>
                    <input type="text" disabled value="{{monitor_report.problem_faced}}" class="form-control"
                        name="problem_faced" id="inputProblemsFaced"
                        placeholder="Problems faced (Describe any opportunity you may have missed)">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputOptions">Special gains / Opportunities gained / New connects made</label>
                    <input type="text" disabled value="{{monitor_report.option}}" class="form-control" name="option"
                        id="inputOptions" placeholder="Special gains / Opportunities gained / New connects made">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputMarketing">Special / New Marketing efforts made (including exhibitions /
                        events)</label>
                    <input type="text" disabled value="{{monitor_report.marketing}}" class="form-control"
                        id="inputMarketing" name="marketing"
                        placeholder="Special / New Marketing efforts made (including exhibitions /  events)">
                </div>
                <div class="form-group col-md-12">
                    <label for="inputHelpped">How the incubator has helped?</label>
                    <textarea class="form-control" disabled value="{{monitor_report.helped}}" name="helped"
                        id="inputHelpped" rows="3" placeholder="How the incubator has helped?"></textarea>
                </div>
                <div class="form-group col-md-12">
                    <label for="inputRemarks">Any other Remarks by the Incubator team</label>
                    <textarea class="form-control" disabled value="{{monitor_report.remarks}}" name="remarks"
                        id="inputRemarks" rows="3" placeholder="Any other Remarks by the Incubator team"></textarea>
                </div>
            </div>
            <div class="heading">
                <p class="font-weight-bold">Mentor Meetings</p>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputNameDate">Name and Date of last mentor meeting</label>
                    <input type="text" disabled value="{{monitor_report.name_date}}" class="form-control"
                        id="inputNameDate" name="name_date" placeholder="eg: Roshan Kumar 01-01-2020">
                </div>
                <div class="form-group col-md-12">
                    <label for="inputFuturePlan">Future plan</label>
                    <textarea class="form-control" disabled value="{{monitor_report.feture_plan}}" name="feture_plan"
                        id="inputFuturePlan" rows="3" placeholder="How the incubator has helped?"></textarea>
                </div>
                <div class="form-group col-md-12">
                    <label for="inputAction">Course of action for next month</label>
                    <textarea class="form-control" disabled value="{{monitor_report.action}}" name="action"
                        id="inputAction" rows="3" placeholder="Course of action for next month"></textarea>
                </div>
                <div class="form-group col-md-12">
                    <label for="inputRequiredHelp">Help required from the Incubator for next month (Connects / Resources
                        etc.)</label>
                    <input type="text" disabled value="{{monitor_report.required_help}}" class="form-control"
                        name="required_help" id="inputRequiredHelp" rows="3">

                </div>
            </div>
        </div>
        <button type="submit" onclick="printDiv('priantableArea')" class="btn btn-primary">Print</button>


        <div class="container" style="display: none;" id="priantableArea">

            <div class="heading">
                <p class="font-weight-bold">Monitor sheet</p>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputComp">Name of Company:</label>

                </div>
                <div class="form-group col-md-6">{{monitor_report.company_name}}</div>
                <div class="form-group col-md-6">
                    <label for="inputentrepreneur">Name of Lead Entrepreneur:</label>

                </div>
                <div class="form-group col-md-6">{{monitor_report.lead_entreprenure}}</div>
                <div class="form-group col-md-6">
                    <label for="inputDesignation">Designation:</label>
                </div>
                <div class="form-group col-md-6">{{monitor_report.designation}}</div>
                <div class="form-group col-md-6">
                    <label for="inputurl">Website address:</label>

                </div>
                <div class="form-group col-md-6">{{monitor_report.website}}</div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email:</label>

                </div>
                <div class="form-group col-md-6">{{monitor_report.email}}</div>
                <div class="form-group col-md-6">
                    <label for="inputphoneno">Phone nos.:</label>

                </div>
                <div class="form-group col-md-6">{{monitor_report.contact_no}}</div>

                <div class="form-group col-md-6">
                    <label for="inputAddress">Address(Write both if registered and communication addresses are
                        different):</label>

                </div>
                <div class="form-group col-md-6">{{monitor_report.address}}</div>
                <div class="form-group col-md-6">
                    <label for="inputprod">Product / Service offering:</label>
                </div>
                <div class="form-group col-md-6">{{monitor_report.product_service}}</div>
                <div class="form-group col-md-6">
                    <label for="inputIndustry">Industry:</label>

                </div>
                <div class="form-group col-md-6">{{monitor_report.industry}}</div>
                <div class="form-group col-md-6">
                    <label for="inputCompetitors">Competitors:</label>

                </div>
                <div class="form-group col-md-6">{{monitor_report.competitors}}</div>
                <div class="form-group col-md-6">
                    <label for="inputIncubationPeriod">Incubation Period (no. of months, starting date):</label>

                </div>
                <div class="form-group col-md-6">{{monitor_report.incubation_period}}</div>
                <div class="form-group col-md-6">
                    <label for="inputChiefMentor">Chief Mentor:</label>

                </div>
                <div class="form-group col-md-6">{{monitor_report.chef_monitor}}</div>
                <div class="form-group col-md-6">
                    <label for="inputShareHolderPattern">Share-holding pattern:</label>

                </div>
                <div class="form-group col-md-6">{{monitor_report.share_holder_pattern}}</div>
                <div class="form-group col-md-6">
                    <label for="inputAuthorisedCapitalAmount">Authorised capital amount:</label>

                </div>
                <div class="form-group col-md-6">{{monitor_report.authorized_capital_amount}}</div>
                <div class="form-group col-md-6">
                    <label for="inputCapitalAmount">Paid-up capital amount:</label>

                </div>
                <div class="form-group col-md-6">{{monitor_report.paid_up_capital_amount}}</div>
                <div class="form-group col-md-6">
                    <label for="inputFillingDate">Date of filling this information:</label>

                </div>
                <div class="form-group col-md-6">{{monitor_report.date_of_filling}}</div>
                </div>

                <div class="heading">
                    <p class="font-weight-bold">General INFO</p>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputMOU">MoU with AIC Nalanda signed:</label>

                    </div>
                    <div class="form-group col-md-6">{{monitor_report.mou}}</div>
                    <div class="form-group col-md-6">
                        <label for="inputMouDate">MOU Submitted Date:</label>
                    </div>
                    <div class="form-group col-md-6">{{monitor_report.mou_date}}</div>
                    <div class="form-group col-md-6">
                        <label for="inputIncubationFees">Incubation Fees paid Rs. (from date to date):</label>

                    </div>
                    <div class="form-group col-md-6">{{monitor_report.incubation_fees}}</div>
                    <div class="form-group col-md-6">
                        <label for="inputChiefMentorAssign">Chief Mentor assigned:</label>

                    </div>
                    <div class="form-group col-md-6">{{monitor_report.chef_monitor_assign}}</div>
                    <div class="form-group col-md-6">
                        <label for="inputSSHA">SSHA Signed:</label>

                    </div>
                    <div class="form-group col-md-6">{{monitor_report.ssha_signed}}</div>
                    <div class="form-group col-md-6">
                        <label for="inputMouDate">SSHA Signed Date:</label>
                    </div>
                    <div class="form-group col-md-6">{{monitor_report.ssha_date}}</div>
                    <div class="form-group col-md-6">
                        <label for="inputSharesTransferred">Shares transferred to Incubator:</label>

                    </div>

                    <div class="form-group col-md-6">{{monitor_report.share_transferred}}</div>
                    <div class="form-group col-md-6">
                        <label for="inputShareCertificate">Share certificates received by Incubator:</label>

                    </div>
                    <div class="form-group col-md-6">{{monitor_report.share_certificates}}</div>
                    <div class="form-group col-md-6">
                        <label for="inputNoSeats">No. of seats taken at the Incubator (Current month):</label>

                    </div>
                    <div class="form-group col-md-6">{{monitor_report.no_of_seats_taken}}</div>
                    <div class="form-group col-md-6">
                        <label for="inputRentForSeats">Rent for seats paid Rs. (from date to date) if
                            any:</label>

                    </div>
                    <div class="form-group col-md-6">{{monitor_report.rent_of_seats}}</div>

                    <div class="form-group col-md-6">
                        <label for="inputCapitalInvested">Capital invested so far:</label>

                    </div>
                    <div class="form-group col-md-6">{{monitor_report.capital_invested}}</div>

                    <div class="form-group col-md-6">
                        <label for="inputRegistrationCompany">Status of Registration of the Company:</label>

                    </div>
                    <div class="form-group col-md-6">{{monitor_report.status_of_registration}}</div>

                    <div class="form-group col-md-6">
                        <label for="inputStatusOfCurrentTraction">Status of Current traction at the time of
                            joining Incubation:</label>
                    </div>
                    <div class="form-group col-md-6">{{monitor_report.current_traction}}</div>
                    <div class="form-group col-md-6">
                        <label for="inputStatusOfProduct">Status of Product / Service at the time of joining
                            Incubation:</label>
                    </div>
                    <div class="form-group col-md-6">{{monitor_report.status_of_product_service}}</div>
                    <div class="form-group col-md-6">
                        <label for="inputStatusOfOperations">Status of operations:</label>
                    </div>
                    <div class="form-group col-md-6">{{monitor_report.status_of_operations}}</div>
                    <div class="form-group col-md-6">
                        <label for="inputCurrentTeam">Current team members and roles:</label>
                    </div>
                    <div class="form-group col-md-6">{{monitor_report.current_team_member}}</div>
                </div>



                <div class="heading">
                    <p class="font-weight-bold">Specific Information month by month:</p>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputIPRStatus">IPR Status:</label>
                    </div>
                    <div class="form-group col-md-6">{{monitor_report.ipr_status}}</div>
                    <div class="form-group col-md-6">

                        <label for="inputSales">Sales (units):</label>
                    </div>
                    <div class="form-group col-md-6">{{monitor_report.sales}}</div>
                    <div class="form-group col-md-6">
                        <label for="inputRevenue">Revenue (Rs.): </label>
                    </div>
                    <div class="form-group col-md-6">{{monitor_report.revenue}}</div>
                    <div class="form-group col-md-6">
                        <label for="inputPipeline">Pipeline Deals / Other potential clients:</label>

                    </div>
                    <div class="form-group col-md-6">{{monitor_report.pipeline}}</div>
                    <div class="form-group col-md-6">
                        <label for="inputCurrentClients">Current clients:</label>

                    </div>
                    <div class="form-group col-md-6">{{monitor_report.current_client}}</div>
                    <div class="form-group col-md-6">
                        <label for="inputProfitLoss">Profit earned / Loss:</label>

                    </div>
                    <div class="form-group col-md-6">{{monitor_report.profit_earned}}</div>
                    <div class="form-group col-md-6">
                        <label for="inputNewTeamMember">New Team members (Hiring, consultants, interns,
                            contractual employees, if any):</label>

                    </div>
                    <div class="form-group col-md-6">{{monitor_report.new_team_member}}</div>
                    <div class="form-group col-md-6">
                        <label for="inputNoOfEmployees">No. of employees (Including part time, consultants,
                            etc):</label>

                    </div>
                    <div class="form-group col-md-6">{{monitor_report.no_of_employees}}</div>
                    <div class="form-group col-md-6">
                        <label for="inputProblemsFaced">Problems faced (Describe any opportunity you may
                            have missed):</label>

                    </div>
                    <div class="form-group col-md-6">{{monitor_report.problem_faced}}</div>
                    <div class="form-group col-md-6">
                        <label for="inputOptions">Special gains / Opportunities gained / New connects
                            made:</label>

                    </div>
                    <div class="form-group col-md-6">{{monitor_report.option}}</div>
                    <div class="form-group col-md-6">
                        <label for="inputMarketing">Special / New Marketing efforts made (including
                            exhibitions / events):</label>

                    </div>
                    <div class="form-group col-md-6">{{monitor_report.marketing}}</div>
                    <div class="form-group col-md-6">
                        <label for="inputHelpped">How the incubator has helped?:</label>

                    </div>
                    <div class="form-group col-md-6">{{monitor_report.helped}}</div>
                    <div class="form-group col-md-6">
                        <label for="inputRemarks">Any other Remarks by the Incubator team:</label>

                    </div>
                    <div class="form-group col-md-6">{{monitor_report.remarks}}</div>
                </div>
            

            <div class="heading">
                <p class="font-weight-bold">Mentor Meetings</p>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputNameDate">Name and Date of last mentor meeting:</label>

                </div>
                <div class="form-group col-md-6">{{monitor_report.name_date}}</div>
                <div class="form-group col-md-6">
                    <label for="inputFuturePlan">Future plan:</label>

                </div>
                <div class="form-group col-md-6">{{monitor_report.feture_plan}}</div>
                <div class="form-group col-md-6">
                    <label for="inputAction">Course of action for next month:</label>

                </div>
                <div class="form-group col-md-6">{{monitor_report.action}}</div>
                <div class="form-group col-md-6">
                    <label for="inputRequiredHelp">Help required from the Incubator for next month
                        (Connects / Resources etc.):</label>

                </div>
                <div class="form-group col-md-6">{{monitor_report.required_help}}</div>
            </div>

        </div>


<script>
    function printDiv(divName){
        var printContent = document.getElementById(divName).innerHTML;
        var originalcontent = document.body.innerHTML;

        document.body.innerHTML=printContent;
        window.print();
        document.body.innerHTML=originalcontent;
    }
</script>
</body>

</html>