
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'monitor/css/cardstyle.css' %}"/>
{% endblock %}

{% block report_button %}
    {% if user.is_startup %}
        <a href="{% url 'monitor_form' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i> Generate Monitor Report</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% for value in values %}
        <div class="courses-container">
            <div class="course">
                <div class="course-preview">
                    <h6>Course</h6>
                    <h2>Month {{ forloop.counter }}</h2>
                    <a href=" # ">View all chapters <i class="fas fa-chevron-right"></i></a>
                </div>
                <div class="course-info">
                    <h6>Chapter 4</h6>
                    <h2>Monitor Sheet{{ forloop.counter }}</h2>
                    <a href="#" class="btn1">View Report</a>
                </div>
            </div>
        </div>
    {% endfor %}
    

{% endblock %}