{% extends 'startup_details.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'profile/css/style.css' %}"/>
{% endblock %}

{% block content %}

<div id="preloder">
    <div class="loader"></div>
</div>

<div class="home-five-style">
    <!-- Header section start -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5">
                    <div class="site-logo">
                        <h2><a href="#">Profile</a></h2>
                    </div>
                </div>
                {% if user.is_superadmin %}
                <div class="col-md-5 offset-md-2">
                    <a class="float-right" href="{% url 'startup_profile_edit' pk=value.pk %}"><i class="fas fa-edit fa-lg"></i></a>
                </div>
                {% elif user.is_startup %}
                <div class="col-md-5 offset-md-2">
                    <a class="float-right add_team" id="add{{user.pk}}" data-toggle="modal" data-target="#addnewteam" href=""><i class="fas fa-edit fa-lg"></i></a>
                </div>
                {% endif %}
            </div>
        </div>
    </header>
    <!-- Header section end -->

    <!-- Hero section start -->
    <section class="hero-section">
        <div class="container-fluid text-center">
            <img src="{% static 'profile/img/hero-3.jpg' %}" alt="">
            <div class="hero-text">
                <h2>{{value.startup_name}}</h2>
            </div>
        </div>
    </section>
    <!-- Hero section end -->

    <!-- Resume section start -->
<section class="resume-section with-bg spad">
    <div class="container-fluid">
        <center><h2 style="margin-bottom: 50px;">General Info</h2></center>
        <div class="row">

            <div class="col-md-5">

                    <div class="hero-info">
                            <ul>
                                <li><span>Name of Legal Entity : </span>{{value.legal_entity}}</li>
                                <li><span>Founders & Designation : </span>{{value.founders_designation}}</li>
                                <li><span>Company Identification Number (CIN) : </span>{{value.comp_identification_no}}</li>
                                <li><span>Operational Model :</span>{{value.operational_model}}</li>
                                <li><span>Women Led Startup : </span>{{value.women_led_startup}}</li>
                                <li><span>MSME registered : </span>{{value.msme_registered}}</li>
                                <li><span>E-mail : </span>{{value.email}}</li>
                                <li><span>Phone : </span>{{value.contact_no}}</li>
                                <li><span>Web Address : </span>{{value.website}}</li>
                            </ul>
                        </div>
                
            </div>
            <div class="col-md-5 offset-sm-2">
                    <div class="hero-info">
                            <ul>
                                <li><span>Date of Registration of the legal : </span>{{value.legal_entity_register}}</li>
                                <li><span>Sector : </span>{{value.sector}}</li>
                                <li><span>Current level of Incubatee :</span>{{value.inubatee_level}}</li>
                                <li><span>Date of Joining : </span>{{value.account.date_joined}}</li>
                                <li><span>Type of Incubatee : </span>{{value.type_of_incubatee}}</li>
                                <li><span>Team Members & roles : </span>{{value.team_members}}</li>
                                <li><span>DSPP registered : </span>{{value.dspp_registered}}</li>
                                <li><span>Startup working towards any of the flagship government programmes :</span>{{value.gov_program}}</li>
                                <li><span>City : </span>{{value.city}}</li>
                                <li><span>Current Location(working) : </span>{{value.location}}</li>
                            </ul>
                        </div>
                
            </div>
            <div style="width: 100%; border-bottom: 3px solid black; margin: 10px 0;"></div>
        </div>
        <div>
            <h3>Our Team Members</h3>
        </div>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">SLNO</th>
                    <th scope="col">Name</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Email</th>
                    <th scope="col">Contact No.</th>
                </tr>
            </thead>
            <tbody>
                {% for member in members %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{member.name}}</td>
                    <td>{{member.designation}}</td>
                    <td>{{member.gender}}</td>
                    <td>{{member.email}}</td>
                    <td>{{member.contact_no}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>

<div class="modal fade" id="addnewteam" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle" style="font-weight:bold;color:tomato;">Add New
                        Team Member</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST" action="{% url 'add_new_team_member' %}">{% csrf_token %}
                    <div class="modal-body">
                        <input type="hidden" id="pk_val" name="pk_val" value="">
                        <div class="form-group">
                            <label for="inputName4">Name</label>
                            <input type="text" name="name" class="form-control" id="inputName4" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <label for="inputDesignation4">Designation/Post</label>
                            <input type="text" name="designation" class="form-control" id="inputDesignation4"
                                placeholder="Designation">
                        </div>
                        <div class="form-group">
                            <label for="inputDIPPRegistration4" style="margin-right: 5%;">Gender</label><br>
                            <select name="gender" class="custom-select col-md-12">
                                <option selected="selected" disabled>Choose From below:</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Others">Others</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail4">Email</label>
                            <input type="text" name="email" class="form-control" id="inputEmail4" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="inputContactNo4">Contact No.</label>
                            <input type="text" name="contact" class="form-control" id="inputContactNo4"
                                placeholder="Contact No.">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}
{% block js %}
    <script src="{% static 'profile/js/main.js' %}"></script>
    <script>

        $(".add_team").on("click", function () {

            id = this.id;
            pk = id.slice(3);
            $("#pk_val").val(pk);
        });

    </script>
{% endblock %}